header {
    align-items: center;
    margin-bottom: -7.5rem;
    margin-top: 2rem;

    img {
        width: 12.5rem;
    }
}

@media (min-width: 900px) {
    header {
        margin-left: 2rem;
    }
}