aside {
    background-color: #fff;
    display: none;
    height: 200vw;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;

    article:nth-last-child(1) {
        color: #901c1c;
        font-family: sans-serif;
        font-size: 1rem;
        font-weight: 600;
    }
}


#lightbox-body {
    height: 90%;
    left: 50%;
    margin: 0 auto;
    position: fixed;
    text-align: center;
    top: 4%;
    transform: translate(-50%, 0);
    width: 60%;
}

#works-lightbox-media {
    height: 100%;
    margin: 0 auto 1rem;
    overflow: hidden;
    background-color: rgba(230, 16, 16, 0);
    width: 100%;

    img, video {
        border-radius: 10px;
        height: 100%;
        object-fit: contain;
        width: 90%;
        position: absolute;
        left: 5%;
        top: 0%;
    }
}

.close-lightbox-icon {
    color: #901c1c;
    font-size: 1.7rem;
    margin-left: 97%;
    margin-top: .5rem;
}

.left-arrow-lightbox {
    color: #901C1C;
    font-size: 2rem;
    left: -3rem;
    position: absolute;
    top: 48%;
}

.right-arrow-lightbox {
    color: #901C1C;
    font-size: 2rem;
    position: absolute;
    right: -60rem;
    top: 48%;
}

// @media (max-width: 1300px) {
//     .right-arrow-lightbox {
//         margin-right: -47.5rem;
//     }
// }

// @media (min-width: 1300px) {
//     .right-arrow-lightbox {
//         right: -47.5.5rem;
//     }
// }

@media (min-width: 600px) {


    .close-lightbox-icon {
        cursor: pointer;
        right: 1rem;
        top: .5rem;
    }

    .left-arrow-lightbox {
        cursor: pointer;
        left: 0;
        top: 48%;
    }
    
    .right-arrow-lightbox {
        cursor: pointer;
        left: 0;
        top: 48%;
    }

    aside article:nth-last-child(1) {
        left: 23%;
        padding: .5rem 0;
    }
}

// @media (max-width: 600px) {
//     .close-lightbox-icon {
//         position: relative;
//         cursor: pointer;
//         left: 2%;
//         right: 1rem;
//         top: .5rem;
//     }
//     .right-arrow-lightbox {
//         position: absolute;
//         cursor: pointer;
//         left: 0;
//         top: 27%;
//     }
//     .left-arrow-lightbox {
//         position: absolute;
//         cursor: pointer;
//         left: -8%;
//         top: 48%;
//     }
// }

