#photos-taken {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 2.8125rem 0;
    padding: 0 1.25rem;


    img, video {
        border-radius: .3125rem;
        height: 11.875rem;
        object-fit: cover;
        width: 20.9375rem;
    }

}


.btn-like {
    background: none;
    border: none;
    color: #901c1c;
    font-size: 1.1rem;
    margin-left: -.3rem;
}

.ph-taken-elt {
    color: #901c1c;
    font-size: 1.1em;
    font-weight: 500;
    margin: 0 0 .9725rem;
    width: 20.9375rem;

    img, video {
        border-radius: .3125rem;
        height: 11.875rem;
        object-fit: cover;
        width: 20.9375rem;
    }

    .visibility {
        position: relative;
        top: -40%;
        right: -45%;
        color: rgb(250, 237, 237);
    }
    img + i {
        display: none;
    }
}

.ph-taken-elt {
    .fa-heart:hover, img:hover, video:hover {
        cursor: pointer;
    }

    .ph-taken-title {
        width: 14.0625rem;
    }
}

.ph-taken-elt-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;

}

.ph-taken-title {
    font-size: 1em;
    font-weight: 400;
}


@media (min-width: 1300px) {
    #photos-taken {
        justify-content: space-between;
        margin: 2.8125rem 6.25rem;
        padding: 0;
    } 

    .ph-taken-elt {
        width: 21.875rem;

        img, video {
            height: 18.75rem;
            width: 21.875rem;
        }
    }
}
